{% extends "base.html" %}
{% load i18n %}

{% block metaDescription %}
<meta name="description" content="{{ all_password_reset_form_page_meta_description.last.text }}">
{% endblock %}

{% block title %}
<title>{% trans "Password Reset Form" %}</title>
{% endblock %}

{% block styleSheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/accountportal/password_reset_form.css' %}">
{% endblock %}

{% block mainBox %}
<div id="PasswordResetFormPageBox">
    <div id="PasswordResetFormBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ all_brand_identity_objs.last.logo.url }}" style="width: 100px; height:100px;" class="rounded float-start" alt="{{ all_brand_identity_objs.last.logo_alt }}">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <form action="." method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">{% trans 'Email'%}</label>
                            <input type="email" name="email" id="id_email" maxlength="320" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Reset Password' %}</button>

                        {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors }}                
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}