{% extends "base.html" %}
{% load i18n %}

{% block metaDescription %}
<meta name="description" content="{{ all_password_reset_done_page_meta_description.last.text }}">
{% endblock %}

{% block title %}
<title>{% trans 'Password Reset Done' %}</title>
{% endblock %}

{% block styleSheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/accountportal/password_reset_done.css' %}">
{% endblock %}

{% block mainBox %}
<div id="PasswordResetDonePageBox">
    <div id="PasswordResetDoneResponseBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ all_brand_identity_objs.last.logo.url }}" style="width: 100px; height:100px;" class="rounded float-start" alt="{{ all_brand_identity_objs.last.logo_alt }}">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mt-4">
                        <h2 class="mb-4">{% trans 'Password Reset Instructions Sent' %}</h2>
                        <p>
                            {% trans "Password reset instructions have been emailed to you for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}
                        </p>
                
                        <p class="mt-4 fw-bolder">
                            {% trans "If you continue to experience issues or have any questions, please use the contact page." %}
                        </p>

                        <a href="{% url 'home' %}" class="btn btn-success btn-lg">{% trans "Click here to go back to the main page" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}