{% extends "base.html" %}
{% load i18n %}

{% block metaDescription %}
<meta name="description" content="{{ all_password_reset_complete_meta_description.last.text }}">
{% endblock %}

{% block title %}
<title>{% trans 'Password Reset Complete' %}</title>
{% endblock %}

{% block styleSheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/accountportal/password_reset_complete.css' %}">
{% endblock %}

{% block mainBox %}
<div id="PasswordResetCompletePageBox">
    <div id="PasswordResetCompleteResponseBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ all_brand_identity_objs.last.logo.url }}" style="width: 100px; height:100px;" class="rounded float-start" alt="{{ all_brand_identity_objs.last.logo_alt }}">
                </div>
            </div>
        
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mt-4">
                        <h2 class="mb-4">{% trans 'Password Reset Successful' %}!</h2>
                        <p class="fw-bolder">{% trans "You've successfully changed your password." %}</p>
                        <a href="{% url 'login'%}" class="btn btn-success btn-lg">{% trans 'Feel free to login again' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}