Password Reset Request

Someone requested a password reset for the account associated with this email address ({{ email }}). If this was not you, you can ignore this email.

To reset your password, click on the following link:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If the above link doesn't work, copy and paste the following URL into your browser:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link is valid for a limited time. If you didn't request a password reset, no further action is required.

Thank you!