{% extends "base.html" %}
{% load i18n %}

{% block metaDescription %}
<meta name="description" content="{{ all_meta_description_objs.last.text }}">
{% endblock %}

{% block title %}
<title>{% trans "Register" %}</title>
{% endblock %}

{% block styleSheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/accountportal/register.css' %}">
{% endblock %}

{% block mainBox %}
<div id="RegisterPageBox">
    <div id="RegisterFormBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ all_brand_identity_objs.last.logo.url }}" style="width: 100px; height:100px;" class="rounded float-start" alt="{{ all_brand_identity_objs.last.logo_alt }}">
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <form method="post" action="." class="mt-4">
                        {% csrf_token %}
    
                        <div class="mb-3">
                            <label for="username" class="form-label">{% trans "Username" %}</label>
                            <input type="text" name="username" id="id_username" maxlength="150" class="form-control" required>
                        </div>
    
                        <div class="mb-3">
                            <label for="email" class="form-label">{% trans "Email" %}</label>
                            <input type="email" name="email" id="id_email" maxlength="320" class="form-control" required>
                        </div>
    
                        <div class="mb-3">
                            <label for="password" class="form-label">{% trans "Password" %}</label>
                            <input type="password" name="password1" autocomplete="new-password" id="id_password1" class="form-control" required>
                            <ul>
                                <li>{% trans "Your password can't be too similar to your other personal information." %}</li>
                                <li>{% trans "Your password must contain at least 8 characters." %}</li>
                                <li>{% trans "Your password can't be a commonly used password." %}</li>
                                <li>{% trans "Your password can't be entirely numeric." %}</li>
                            </ul>
                        </div>
    
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">{% trans "Confirm Password" %}</label>
                            <input type="password" name="password2" autocomplete="new-password" id="id_password2" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            {{ register_form.captcha }}
                        </div>
    
                        <button type="submit" name="registerBtn" class="btn btn-primary btn-lg">{% trans "Register" %}</button>

                        {% if is_register_form_success_message_exists or is_register_form_success_message_exists %}
                        {% include 'shared/messages.html' %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}