//////////////////////////////

// LIBRARIES

//////////////////////////////

@use "variables.scss" as vars;
@use "mixins.scss" as mixins;



//////////////////////////////

// GLOBAL STYLES

//////////////////////////////

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	width: 100%;
	min-height: 100vh;
	height: auto;
}

header {
	width: 100%;
    height: auto;
}

main {
	width: 100%;
	min-height: 100vh;
	height: auto;

	h1 {
		text-align: center;
	}

	h1, h2, h3, h4, h5 {
		color: vars.$brand-color-secondary;
	}
}

h1, h2, h3, h4, h5 {
	@include mixins.title-font;
}

p, li, a, label, input[type='submit'], tr, th, button, strong {
	@include mixins.body-text-font;
	font-size: 20px !important;
}

strong {
	font-weight: bold;
}

footer {
	@include mixins.block-box;
	background-color: vars.$brand-color-primary;
    margin: 0;
	color: vars.$brand-color-tertiary;
}

#AccountBtn {
	background-color: vars.$brand-color-secondary;
}

.SocialMediaLink {
	text-decoration: none;
}

.SocialMediaIcon {
	color: vars.$brand-color-tertiary;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.SocialMediaLink {
	text-decoration: none;
}

.bi-youtube {
	color: vars.$social-media-button-color-youtube;
}

.bi-linkedin {
	color: vars.$social-media-button-color-linkedin;
}

.bi-instagram {
	color: vars.$social-media-button-color-instagram;
}

.bi-facebook {
	color: vars.$social-media-button-color-facebook;
}

.bi-github {
	color: vars.$social-media-button-color-github;
}

.bi-bag-fill {
	color: vars.$social-media-button-color-bag-fill;
}

.bi-twitter-x {
	color: vars.$social-media-button-color-twitter-x;
}

.bi-tiktok {
	color: vars.$social-media-button-color-tiktok;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.bi-person-circle {
	width: 24px;
	height: 24px;
}

#SubscriptionForm, #SubscribeFormText {
	width: 90%;
	max-width: 500px;
}

.AFooterBox {
	@include mixins.block-box;
	float: left;
}

.BrandLogo {
	display: block;
	margin: auto;
	max-height: 200px;
	max-width: 200px;
}



/* MEDIA QUERIES ***************************/

//////////////////////////////

// PHONE

//////////////////////////////

@media (min-width: vars.$break-point-phone) {

	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 55px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 28px;
	}
	h5 {
		font-size: 25px;
	}

	#LanguageSelector {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	#CookieNotice {
		background: vars.$brand-color-cookie-notice-background;
		position: fixed;
		z-index: 999;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		opacity: 0.97;
		display: block;
		min-height: 80px;
		height: auto;
		overflow: hidden;
		padding: 10px 10px;
		animation: cookie-notice-load 300ms ease-in;
	}

	@keyframes cookie-notice-load {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	#LinkAndTextBox {
		width: 100%;
	}

	#CookieNoticeFormBox {
		width: 100%;
		height: 50px;
		padding: 0;
	}

	#LinkAndTextBox, #CookieNoticeFormBox {
		display: block;
		float: left;
	}

	#CookieNoticeText, #LearnMoreLink {
		width: 100%;
		color: vars.$brand-color-tertiary;
		text-align: left;
		float: left;
	}

	#LearnMoreLink {
		text-decoration: none;
	}

	#CookieNoticeForm {
		height: auto;
	}

	#IGotIt {
		display: block;
		background: vars.$brand-color-secondary;
		border: none;
		border-radius: 5px;
		position: static;
		top: 0;
		margin: auto;
		font-weight: bold;
		color: vars.$brand-color-tertiary;
		padding: 12px 30px;
		transition: transform 1s ease;
	}

	#IGotIt:hover {
		background: vars.$brand-color-secondary-hover;
		cursor: pointer;
	}

	#FooterContentBox {
		@include mixins.block-box;
		padding: 30px 30px 10px 30px;
	}

	#FooterLogo {
		display: block;
		margin: auto;
		max-height: 200px;
		max-width: 200px;
		width: 85%;
	}

	#FooterLogoBox, #FooterSubscriptionBox, #FooterSocialMediaLinksBox, #FooterNavigation {
		margin: auto auto 50px auto;
	}

	#FooterCopyRightInformationBox {
		text-align: center;
	}

	#HeroSection {
		@include mixins.hero-section;
	}

	#HSTextContent {
		@include mixins.block-box;
		max-width: 1200px;
		float: right;
	}

	#HeroText {
		max-width: 70%;
		margin: auto;
	}
}

@media (min-width: vars.$break-point-tablet) {

	h1 {
		font-size: 120px;
	}
	h2 {
		font-size: 90px;
	}
	h3 {
		font-size: 50px;
	}
	h4 {
		font-size: 45px;
	}
	h5 {
		font-size: 40px;
	}

	#CookieNotice {
		display: flex;
		padding: 12.5px 20px;
	}

	#LinkAndTextBox {
		width: 80%;
	}

	#CookieNoticeFormBox {
		width: 20%;
		margin: auto;
	}

	#FooterContentBox {
		padding: 50px 50px 20px 50px;
	}

	#FooterLogo {
		margin: 0;
	}

	#FooterLogoBox {
		width: 30%;
		min-height: 200px;
	}
	
	#FooterSubscriptionBox {
		width: 70%;
		min-height: 200px;
		padding: 20px;
	} 
	
	#FooterSocialMediaLinksBox {
		width: 40%;
	}
	
	#FooterNavigation {
		width: 60%;
	}
}

@media (min-width: vars.$break-point-desktop) {

	h1 {
		font-size: 150px;
	}
	h2 {
		font-size: 100px;
	}
	h3 {
		font-size: 60px;
	}
	h4 {
		font-size: 55px;
	}
	h5 {
		font-size: 50px;
	}

	#LanguageSelector {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#LinkAndTextBox {
		width: 90%;
	}

	#CookieNoticeFormBox {
		width: 10%;
	}

	footer {
		display: flex;
		justify-content: space-between;
	}

	#FooterContentBox {
		padding: 50px 50px 20px 50px;
	}

	#FooterLogoBox {
		width: 15%;
		min-height: 0;
	}
	
	#FooterSubscriptionBox {
		width: 35%;
		min-height: 0;
		padding: 0;
	} 
	
	#FooterSocialMediaLinksBox {
		width: 25%;
	}
	
	#FooterNavigation {
		width: 25%;
	}
}