//////////////////////////////

// LIBRARIES

//////////////////////////////

@use "../base/variables.scss" as vars;
@use "../base/mixins.scss" as mixins;



/* MEDIA QUERIES ***************************/

//////////////////////////////

// PHONE

//////////////////////////////

@media (min-width: vars.$break-point-phone) {

    #ServiceDetailPageBox {
        @include mixins.standard-page-box-style("ServiceDetail");
    }

    #ServiceDetailContentBox {
        @include mixins.standard-detail-content-box-style("ServiceDetail");
    }

    .MiniTitle {
        color: vars.$brand-color-accent;
    }

    #ShortSummary {
        text-align: justify;
    }

    #ServiceSummaryBox {
        margin-bottom: 30px;
    }

    #ServiceOverViewBox {
        @include mixins.block-box;
        margin-bottom: 50px;
    }

    #ServiceInquiryFormBox {
        padding: 10px;
    }

    #ProcessBox {
        @include mixins.block-box;
        background-color: vars.$brand-color-process-background;
        padding: 50px 20px;
        border-radius: 15px;
    }

    #ProcessBoxMainTitle, #ProcessBoxMainMiniTitle {
        text-align: center;
    }

    .StepBox {
        @include mixins.block-box;
        width: 100%;
        margin-bottom: 50px;
    }

    .StepBox:last-of-type {
        margin-bottom: 0px;
    }

    .StepImage {
        width: 100%;
        height: auto;
        background-color: vars.$brand-color-tertiary;
        border-radius: 15px;
        margin: 0px auto 20px auto;
    }
}



//////////////////////////////

// TABLET

//////////////////////////////

@media (min-width: vars.$break-point-tablet) {

    #ServiceSummaryBox, #ServiceInquiryFormBox {
        width: 50%;
        float: left;
    }

    #ServiceInquiryFormBox {
        padding: 20px 50px;
    }

    #ProcessBoxMainTitle, #ProcessBoxMainMiniTitle {
        text-align: center;
    }

    #ProcessIntroBox {
        margin-bottom: 50px;
    }

    .StepBox {
        margin: 0px auto 40px auto;
    }

    .StepImageBox, .StepTextBox {
        width: 47.5%;
    }

    .StepOdd .StepImageBox, .StepEven .StepTextBox {
        margin-right: 5%;
    }

    .StepOdd .StepImageBox, .StepOdd .StepImageBox img, .StepOdd .StepTextBox, .StepOdd .StepTextBox {
        float: left;
    }

    .StepEven .StepImageBox, .StepEven .StepImageBox img, .StepEven .StepTextBox {
        float: right;
    }

    .StepImage {
        max-width: 300px;
    }
}



//////////////////////////////

// DESKTOP

//////////////////////////////

@media (min-width: vars.$break-point-desktop) {

    #ProcessBox {
        padding: 75px 50px;
    }

    .StepImageBox {
        max-width: 600px;
    }

    .StepImage {
        max-width: 500px;
    }

    .StepTextBox {
        position: relative;
        top: 50%;
        transform: translateY(50%);
    }
}